.title {
    font-family: "Roboto", sans-serif !important;
    color: #323638 !important;
}

.main {
    letter-spacing: 0.1em !important;
    color: #323638 !important;

}

.subtitle {
    font-family: "Roboto", sans-serif !important;
    letter-spacing: 10px !important;
    font-size: 70px !important; ;
}

.paragraph {
    font-family: "Roboto", sans-serif;
}

.img-circle {
	border-radius: 80%;
    width: 70%;
}

.small-img {
    width: 45%;
}

.medium-img {
    width: 55%
}

.darkness {
    width: 70%;
}

.height {
    max-height: 13em !important;
}

.city {
   max-height: 10em !important;
}

.italic {
    font-style: italic;
}

