body {
    font-family: "Roboto", sans-serif !important;
}

.reveal section.slide {
  color: #323638 !important;
}

.reveal section.slide h1 {
  color: #323638 !important;
  font-size: 50px !important;
  letter-spacing: 0.1em !important;
}

.reveal section.slide h2{
  color: #323638 !important;
  font-size: 50px !important;
  letter-spacing: 0.1em !important;
}

.backgrounds::before {
    display: block;
    content: " ";
    width: 100px;
    height: 32px;
    background-image: url(./logo.png);
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 1000;
}

.image {
    height: 400px;
}

code {
    font-size: 15px !important;
}