body {
    font-family: "Roboto", sans-serif !important;
}

.title {
    color: #323638 !important;
    font-size: 50px !important;
}

.main {
    letter-spacing: 0.1em !important;
    color: #323638 !important;

}

.paragraph {
    font-size: 50px !important;
}

.backgrounds::before {
    display: block;
    content: " ";
    width: 100px;
    height: 32px;
    background-image: url(./logo.png);
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 1000;
  }